apiVersion: v1
kind: Service
metadata:
  name: portfolio-front-svc
spec:
  type: ClusterIP
  ports:
    - port: {{.Values.http.port}}
      protocol: TCP
      targetPort: {{.Values.http.containerPort}}
  selector:
    name: portfolio-front
    version: 2.0.0